.page, .body {
  /* обнуляем отступы */
  margin: 0;
  padding: 0;
  /* делаем рабочую область на всю ширину экрана */
  width: 100%;
  height: 100vh;
  /* т.к. по задумке объекты будут двигаться, то как только они вылетели за обозначенные границы - рисовать их далее не нужно */
  overflow: hidden;
}